Repository qbicsoftware/postman-cli, pull requests merged in 2023-02, with the labels that each got.

#139 Added version information option
  pom.xml
  src/main/java/life/qbic/io/commandline/ManifestVersionProvider.java
  src/main/java/life/qbic/io/commandline/PostmanCommandLineOptions.java
Labels: feature

#149 Require commons-codec version >= 1.13
  pom.xml
Labels: fix

#138 Update JavaDoc
  src/main/java/life/qbic/io/commandline/OpenBISPasswordParser.java
  src/main/java/life/qbic/io/commandline/PostmanCommandLineOptions.java
  src/main/java/life/qbic/model/download/OutputPathFinder.java
  src/main/java/life/qbic/model/download/QbicDataDisplay.java
  src/main/java/life/qbic/model/download/QbicDataDownloader.java
Labels: chore

#151 Fix log folder not created correctly
  pom.xml
  src/main/java/life/qbic/App.java
  src/main/java/life/qbic/io/parser/IdentifierParser.java
  src/main/java/life/qbic/model/Configuration.java
  src/main/java/life/qbic/model/download/Authentication.java
  src/main/java/life/qbic/model/download/QbicDataDisplay.java
Labels: fix

#152 Tame progress bar
  src/main/java/life/qbic/App.java
  src/main/java/life/qbic/model/download/QbicDataDownloader.java
  src/main/java/life/qbic/util/ProgressBar.java
  src/main/resources/log4j2.xml
Labels: feature
